<form id="frmCreate" name="frmCreate" class="form-horizontal" role="form" method="POST">
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Nome</label>
        <div class="col-sm-9">
            <input id="nome" name="nome" type="text" class="form-control" style="margin-top: 5px;" data-bind="value: nome" maxlength="50" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Prioridade</label>
        <div class="col-sm-9">
            <input id="prioridade" name="prioridade" type="number" class="form-control" style="margin-top: 5px;" data-bind="value: prioridade" />
        </div>
    </div>
</form>