<div class="page-sidebar" id="sidebar">

    <div class="sidebar-header-wrapper">
        <input type="text" class="searchinput">
        <i class="searchicon fa fa-search"></i>
        <div class="searchhelper">Busca rápida</div>
    </div>

    <ul id="mnuApp" class="nav sidebar-menu">
    </ul>
</div>